.product-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 80px; /* Adjusted to leave space for the navbar (increase or decrease based on navbar height) */
}


.project-card h2 {
  font-size: 2rem;
  color: #333;
}

.project-card p {
  font-size: 1rem;
  color: #555;
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.project-images img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-description {
  margin-top: 20px;
}

.project-description p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 10px;
}
