/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Add padding to create space on both sides */
.main-wrapper {
  max-width: 1200px;  /* You can adjust this value as per your needs */
  padding-left: 200px;  /* Left padding */
  padding-right: 200px;  /* Right padding */
  margin: 0 auto;  /* Center the content */
  
}

/* Section margins */
section {
  margin: 40px 0;
}

/* Global heading styles */
h1, h2, h3 {
  font-weight: 300;
}

/* Styling for navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-list a {
  font-size: 16px;
  font-weight: 400;
}

.nav-list a:hover {
  color: orange;
}

/* Styling for links */
a {
  text-decoration: none;
}

a:hover {
  color: orange;
  transition: color 0.3s ease;
}
